[submodule "secondScreenUtil"]
	path = secondScreenUtil
	url = git@github.com:0x0015/secondScreenUtil.git
[submodule "dwl/wlroots"]
	path = dwl/wlroots
	url = https://gitlab.freedesktop.org/wlroots/wlroots.git
